.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;

  > a {
    color: black;
    margin: 0 10px;
    transition: color .4s ease-in-out;
    padding: 20px;

    &:hover,
    &.active {
      cursor: pointer;
      color: #61dafb;
    }
  }
}
