.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.header a {
    color: black;
    margin: 0 10px;
    transition: color .4s ease-in-out;
}

.header a:hover,
.header .active {
    cursor: pointer;
    color: #61dafb;
}
